.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}
body, html {
    background-image: url("../assets/GardenBackgrounds/Garden1.png");
    font-family: "Cherry Bomb One", system-ui;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#app {
    width: 100%;
    min-height: 100vh;
}
#sidebar {
        justify-items: end;
    position: fixed;
    right: 0;
    padding-right: 30px;
    padding-top: 20px;
    display: grid;
    gap: 2px;

}

#home-btn {
    width: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 180px;
    padding: 6px 12px;
    justify-self: end; 
    align-self: start;
}

#activity-feed h3 {
    padding: 1px;
    margin: 0;
    letter-spacing: .1em;
}

#activity-feed {
    background: #DDE9DF;
    text-align: center;
    flex: 1;                  /* takes available space in sidebar */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    width: 370px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    /* text colors */
    color: #9f88a6;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
#sleep-btn, #feed-btn, #drink-btn, #pet-btn, #close-popup{
    border: #DDE9DF solid 1px;

}

#activity-log {
    flex: 1;                  /* fills remaining space in feed */
    overflow-y: auto;          /* scroll if too many messages */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

#activity-log div {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.2;
}

.button-background{
    border: #DDE9DF solid 1px;
    display: flex;
    margin: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-family: "Cherry Bomb One", system-ui;
    letter-spacing: .1em;
    font-size: 18px;
    font-weight: 400;
    color: #9f88a6;
    background-color: #DDE9DF;
    border-radius: 25px;
    opacity: 100%;
    z-index: 1001;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

.button-background:hover {
    transform: scale(1.05) translateY(-5px);
    background-color: rgb(191, 207, 196);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#sidebar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    margin: auto;

}
#home-btn {
    width: auto;
    max-width: 140px;
    padding: 6px 10px;
    margin-left: 8px;
}

#currency-bar {
    display: flex;
    margin-left: auto;
    gap: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #9f88a6;
    background-color: #DDE9DF;
    border-radius: 25px;
    opacity: 100%;
    z-index: 1001;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
    transition: all .33s ease;
    width: 60px;
}
#currency-bar {
    display: flex;
    margin-left: auto;
    gap: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #9f88a6;
    width: fit-content;  
    background-color: #DDE9DF;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    opacity: 100%;
    z-index: 1001;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 12px;
    transition: all .33s ease;
}



#hamster-popup h3 {
    padding: 1px;
    margin: 0;
}

#hamster-popup {
    position: fixed;
    top: 10px;
    left: 10px;
    margin-left: 20px;
    font-size: 14px;
    letter-spacing: .1em;
    background: #DDE9DF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;                  /* takes available space in sidebar */
    z-index: 1002;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 210px;
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    /* text colors */
    color: #9f88a6;
    opacity: 1;
    pointer-events: all;
    transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

#hamster-popup h3 {
    font-size: 14px;
}
.hamster{
    position: absolute;
    width: 220px;
    height: 210px;
    background-size: cover;
    animation: none;
    opacity: 0;
    transition: all .33s ease;
    animation: bounce 1s infinite;
    bottom: 10px;
}
#hamster1 {
    background-image: url('../assets/Hamsters/hamster1.png');
    animation: hamsterWiggle 2.8s ease-in-out infinite;
    left: 40px;
}
#hamster1.active{
    opacity: 1;
}
#hamster2 {
    background-image: url('../assets/Hamsters/hamster2.png');
    animation: hamsterWiggle2 1.8s ease-in-out infinite;
    left: 260px;
}
#hamster3 {
    background-image: url('../assets/Hamsters/hamster3.png');
    animation: hamsterWiggle 1.2s ease-in-out infinite;
    left: 480px;
}
#hamster4 {
    background-image: url('../assets/Hamsters/hamster4.png');
    animation: hamsterWiggle4 .7s ease-in-out infinite;
    left: 700px;
}
#hamster5 {
    background-image: url('../assets/Hamsters/hamster5.png');
    animation: hamsterWiggle3 1.5s ease-in-out infinite;
    left: 920px;
}
#hamster6 {
    background-image: url('../assets/Hamsters/hamster6.png');
    animation: hamsterWiggle2 1.8s ease-in-out infinite;
    left: 1140px;
}
#hamster6.active{
    opacity: 1;
}
#hamster5.active{
    opacity: 1;
}
#hamster4.active{
    opacity: 1;
}
#hamster3.active{
    opacity: 1;
}
#hamster2.active{
    opacity: 1;
}

#sidebar-nav a,
#sidebar-nav a:visited,
#sidebar-nav a:hover,
#sidebar-nav a:active {
    text-decoration: none;
    color: #bda6c4;
}

.action-button-background{
    /*display: flex;*/
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Cherry Bomb One", system-ui;
    letter-spacing: .1em;
    color: #9f88a6;
    background-color: #DDE9DF;
    border-radius: 25px;
    opacity: 100%;
    z-index: 1001;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    transition: all .33s ease;
}

.action-button-background:hover {
    transform: scale(1.05) translateY(-5px);
    background-color: rgb(191, 207, 196);
}

#hamster-actions {
    display: flex;
    padding-bottom: 10px;
    gap:2px;
}

/* Hamster Animation */
@keyframes hamsterWiggle {
    0%, 100% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(-5px) rotateZ(-5deg);
    }
    50% {
        transform: translateY(-10px) rotate(0);
    }
    75% {
        transform: translateX(5px) rotateZ(5deg);
    }
    95%{
        transform: translateY(0) rotateZ(0);
    }
}
@keyframes hamsterWiggle2 {
    0%, 100% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(7px) rotateZ(7deg);
    }
    50% {
        transform: translateY(-15px) rotate(0);
    }
    75% {
        transform: translateX(-7px) rotateZ(-7deg);
    }
    95%{
        transform: translateY(0) rotateZ(0);
    }
}
@keyframes hamsterWiggle4 {
    0%, 100% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(7px) rotateZ(7deg);
    }
    50% {
        transform: translateY(-45px) rotate(0);
    }
    75% {
        transform: translateX(-7px) rotateZ(-7deg);
    }
    95%{
        transform: translateY(0) rotateZ(0);
    }
}
@keyframes hamsterWiggle3 {
    0%, 100% {
        transform: translateX(0)
    }
    12% {
        transform: translateX(-5px) rotateZ(10deg);
    }
    67% {
        transform: rotateZ(0);
    }
    80% {
        transform: translateX(13px) rotateZ(-12deg);
    }
    97%{
        transform: translateY(-3px);
    }
}
::-webkit-scrollbar {
  display: none;
}
.hamster {
    display: inline-block;
    cursor: pointer;
}